{{> navbar}}
<br />

<h1>LOGIN</h1>
<form method="post" action="/login">
    <input placeholder="user" name="username" />
    <input placeholder="pas" name="password" />
    <input type="submit" value="Vamo!" />
</form>
<a href="/signup">Ir a signup</a>
<br />
<a href="/auth/twitter">Login con twitter</a>
<br />
{{> footer}}
<br />