{{> navbar}}
<br />

<h1>REGISTRO</h1>
<form method="post" action="/signup">
    <input placeholder="user" name="username" />
    <input placeholder="pas" name="password" />
    <input type="submit" value="Vamo!" />
</form>
<a href="/login">Ir a login</a>

<br />
{{> footer}}
<br />